@page "/genderaddedit"
@page "/genderaddedit/{Id:guid}"
@using ISAT.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IGenderService GenderService
@inject NavigationManager NavigationManager
@inject HttpClient Http
@attribute [Authorize]

@if (Id == Guid.Empty)
{

    <PageTitle> Adding a new Gender </PageTitle>

    <h3>Adding a new Gender</h3>

}
else
{

    <PageTitle> Editing @gender.Name </PageTitle>

    <h3>Editing the @gender.Name Gender</h3>

}

<br />
<hr />
<EditForm Model="@gender" OnValidSubmit="HandleSubmit">
    <div class="row">
        <div class="mb-3">
            <label asp-for="Name" class="form-control">Name</label>
            <InputText id="Name" @bind-Value="gender.Name" class="form-control" aria-required="true"></InputText>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-control">Description</label>
            <InputText id="Description" @bind-Value="gender.Description" class="form-control" aria-required="false"></InputText>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@btnLabel</button>
        <button type="button" class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>

</EditForm>

@code {
    [Parameter]

    public Guid Id { get; set; }

    Gender gender = new Gender { };

    protected List<Gender> genders = new();

    string btnLabel = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        btnLabel = !String.IsNullOrEmpty(Id.ToString()) ? "Save" : "Update";

        await GetGenders();
    }

    protected async Task<List<Gender>> GetGenders()
    {
        genders = await GenderService.GetGenders();
        return genders;
    }

    async Task HandleSubmit()
    {
        @if (!(gender.Id == Guid.Empty))        
        {
            btnLabel = "Update";
            await GenderService.PutGender(Id, gender);
            NavigationManager.NavigateTo("/gendermanagment", true);
        }
        else
        {
            gender = await GenderService.PostGender(gender);
            NavigationManager.NavigateTo("/gendermanagment", true);
        }

    }

    protected override async Task OnParametersSetAsync()
    {
        @if (Id == Guid.Empty)
        {
            // create a gender

        }
        else
        {
            gender = await GenderService.GetGender(Id);
        }
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/gendermanagment");
    }

}
