@page "/interviewmanagment"
@using ISAT.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IInterviewService InterviewService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@attribute [Authorize]
@inject IJSRuntime Ijs // to run javascript

<PageTitle> Interview Managment </PageTitle>

<h3>List of Interviews</h3>
<br />
<button class="btn btn-light" @onclick="PrintIt"><i class="bi bi-printer" data-toggle="tooltip" title="Print" /> </button>
<AuthorizeView Roles="Interviewer">
    <Authorized>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <a href='/interviewaddedit' class="btn btn-primary" role="button">
                    <i class="oi oi-plus"></i>
                    Add Interview
                </a>
            </div>
        </div>
        <br />
    </Authorized>
</AuthorizeView>
<hr />
<div class="row">
    <br />
    <div class="mb-3">
        <label asp-for="Searching" class="form-control">
            Search Interview
            @if (Searching.Length > 0)
            {
                <button class="btn btn-light" @onclick="SearchingReset"><i class="bi bi-arrow-counterclockwise" data-toggle="tooltip" title="Reset Search" /> </button>
            }
        </label>
        <InputText id="Searching" @bind-Value="Searching" class="form-control" aria-required="true" @onkeypress="SearchFor" @onkeydown="SearchFor" @onkeyup="SearchFor"></InputText>
    </div>
</div>
<hr />
<br />
@if (interviewList == null)
{
    <p> loading </p>
}
else
{
    <p>
        Show:
        <label><input type="checkbox" @bind="ShowObservation" />Observation</label>
    </p>
    <QuickGrid Items="interviewList.AsQueryable()" Pagination="pagination">
        <PropertyColumn Property="i=> i.Interviewee.SocialName" Title="Social Name" Sortable="true" />
        <PropertyColumn Property="i => i.Place" Title="Place" Sortable="true" />
        <PropertyColumn Property="i=> i.Date" Title="Date" Format="dd/MM/yyyy" Sortable="true" />
        <PropertyColumn Property="i=> i.StartTime" Title="Start Time" Format="HH:mm" Sortable="true" />
        <PropertyColumn Property="i=> i.EndTime" Title="End Time" Format="HH:mm" Sortable="true" />
        @if (ShowObservation)
        {
            <PropertyColumn Property="i=> i.Observation" Title="Observation" Sortable="true" />
        }
        <PropertyColumn Property="i => i.InterviewStatus.Status" Title="Status" Sortable="true" />
        <TemplateColumn>
            @if (context.InterviewStatusId < 5)
            {
                <button class="btn btn-primary" onclick="@(() => EditIt(context))" data-toggle="tooltip" title="Edit"><i class="oi oi-pencil" /></button>

                <button class="btn btn-primary" onclick="@(() => DeleteIt(context))" data-toggle="tooltip" title="Delete"><i class="oi oi-trash" /></button>
            }
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="@pagination" />

}

@code {
    [Parameter]

    public string Searching { get; set; } = string.Empty;

    protected List<Interview> interviewList = new();

    protected List<Interview> searchInterviewList = new();

    PaginationState pagination = new PaginationState { ItemsPerPage = 20 };

    Guid InterviewerId { get; set; }

    Boolean ShowObservation = false;


    protected void SearchFor()
    {
        if (!string.IsNullOrEmpty(Searching))
        {
            interviewList = searchInterviewList.Where(x => x.Interviewee.SocialName.IndexOf(Searching, StringComparison.OrdinalIgnoreCase) != -1)
            .OrderBy(x => x.StartTime)
            .ToList();
        }
        else
        {
            interviewList = searchInterviewList;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var stateProvider = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var CurrentUser = stateProvider.User;

        foreach (var claim in CurrentUser.Claims)
        {
            if (claim.Type == "sub")
            {
                InterviewerId = Guid.Parse(claim.Value);
                break;
            }
        }

        await GetInterviews();
        SearchFor();
    }

    protected async Task GetInterviews()
    {
        interviewList = await InterviewService.GetInterviews();

        // if ClaimInterviewer
        interviewList = interviewList.Where(i => i.InterviewerId == InterviewerId).ToList();

        interviewList = interviewList.OrderBy(x => x.StartTime).ToList();
        searchInterviewList = interviewList;
    }

    public void Cancel()
    {

        NavigationManager.NavigateTo("/interviewmanagment", true);
    }

    public void SearchingReset()
    {
        Searching = string.Empty;
        interviewList = searchInterviewList;
    }

    public void EditIt(Interview i)
    {
        NavigationManager.NavigateTo($"interviewaddedit/{i.Id}");
    }

    public async void DeleteIt(Interview i)
    {
        Searching = "";
        @if (!(i.Id == Guid.Empty))
        {
            await InterviewService.DeleteInterview(i.Id);
        }
        Cancel();

    }

    protected async Task PrintIt()
    {
        await Ijs.InvokeVoidAsync("window.print");
    }

}
