@inherits LayoutComponentBase
@using System.Globalization
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <!--<b>CurrentCulture</b>: @CultureInfo.CurrentCulture-->
    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://localhost/about" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
