<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ISAT</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> News
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrative">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="userstypemanagment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> User's type
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usersmanagment">
                <span class="oi oi-plus" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usersreport">
                <span class="oi oi-print" aria-hidden="true"></span> Report of Users
            </NavLink>
        </div>
        -->
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="gendermanagment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Genders
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="sexualorientationmanagment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Sexual Orientation
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="intervieweemanagment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Interviewee
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="interviewmanagment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Interview
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="calendarmanagment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Calendar
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="audiomanagment">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Audio Interview
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
